.cart-button {
  background: #4a0c02;
  border-radius: 25px;
  padding: 10px 25px;
  color: white;
  border: none;
  font-weight: 700;
  .counter {
    display: inline-block;
    padding: 5px 10px;
    background: tomato;
    border-radius: 25px;
    margin-left: 10px;
  }
}

.cart-modal {
  background: white;
  padding: 15px;
  border-radius: 10px;
  position: fixed;
  z-index: 11;
  width: 50%;
  left: 25%;
  top: 30vh;
}

.cart-item {
  padding: 10px 0;
  & + .cart-item {
    border-top: 1px solid tomato;
  }
}

.cart-modal__list {
  overflow: auto;
  max-height: 300px;
}

.cart-modal__control {
  text-align: right;
}

.cart-modal-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 2px solid #942e1c;
}

.cart-modal-item__info {
  .name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  strong {
    color: tomato;
  }
  span {
    display: inline-block;
    border: 1px solid lightgray;
    padding: 3px;
    border-radius: 5px;
    margin-left: 10px;
  }
}

.cart-modal__total {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin: 20px 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba($color: #000000, $alpha: .75);
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}