.cart-button {
  background: rgb(74, 12, 2);
  border-radius: 25px;
  padding: 10px 25px;
  color: white;
  border: none;
  font-weight: 700;
  .counter {
    display: inline-block;
    padding: 5px 10px;
    background: tomato;
    border-radius: 25px;
    margin-left: 10px;
  }
}

.cart-modal {
  background: white;
  padding: 15px;
  border-radius: 10px;
  position: fixed;
  z-index: 11;
  width: 50%;
  left: 25%;
  top: 30vh;
}

.cart-item {
  padding: 10px 0;
  & + .cart-item {
    border-top: 1px solid tomato;
  }
}

.cart-modal__control {
  text-align: right;
  button + button {
    margin-left: 10px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba($color: #000000, $alpha: .75);
}

