.hero {
  border-radius: 15px;
  color: white;
  background: rgb(60, 60, 60);
  width: 50%;
  padding: 25px;
  margin: 100px auto 30px auto;
  text-align: center;
  position: relative;
  z-index: 1;
}