.food-list {
  border-radius: 10px;
  background: white;
  padding: 20px 30px;
  animation: meals-appear 1s ease-out forwards;
}

.food-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  & + .food-item {
    border-top: 1px solid lightgray;
  }
  .price {
    font-weight: bold;
    color: tomato;
  }
  input {
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    width: 30px
  }
  button {
    margin-top: 10px;
  }
}

.meals-error {
  color: red;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

.food-item__right {
  text-align: right;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}